/* Estilos básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  border: 12px solid black;
}

.item {
  background-color: tomato;
  height: auto;
  border: 8px solid gold;
  text-align: center;
}