/* para hacer que las grid sean responsive, se puede usar el valor auto-fit para que cuando se cumpla la condición de tamaño, el elemento se mueva a la siguiente línea */

.container {
  display: grid;
  grid-auto-rows: 100px;
  /* grid-template-rows: repeat(auto-fit, 100px); */
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  /* grid-template-columns: repeat(4, 100px); */
}