/*  white colors */
.white-1 { background-color: #FAF9F6; }
.white-2 { background-color: #FAFDFF; }
.white-3 { background-color: #FFFFF0; }
.white-4 { background-color: #F0F8FF; }
.white-5 { background-color: #F8F8FF; }
.white-6 { background-color: #FAFAF4; }
.white-7 { background-color: #F5F0F0; }
.white-8 { background-color: #F9F4F4; }
.white-9 { background-color: #F2F2F8; }
.white-10 { background-color: #F0F0F5; }
.white-11 { background-color: #F5F5FA; }


/* black colors */
.dark-1 { background-color: #1A1313; }
.dark-2 { background-color: #1F1717; }
.dark-3 { background-color: #291F1F; }
.dark-4 { background-color: #1F1C1C; }
.dark-5 { background-color: #1A1616; }
.dark-6 { background-color: #292727; }
.dark-7 { background-color: #17171F; }
.dark-8 { background-color: #1F1F29; }
.dark-9 { background-color: #13131A; }


/* default colors */
.color-1 { background-color: aliceblue; }
.color-2 { background-color: antiquewhite; }
.color-3 { background-color: aqua; }
.color-4 { background-color: aquamarine; }
.color-5 { background-color: azure; }
.color-6 { background-color: beige; }
.color-7 { background-color: bisque; }
.color-8 { background-color: black; }
.color-9 { background-color: blanchedalmond; }
.color-10 { background-color: blue; }
.color-11 { background-color: blueviolet; }
.color-12 { background-color: brown; }
.color-13 { background-color: burlywood; }
.color-14 { background-color: cadetblue; }
.color-15 { background-color: chartreuse; }
.color-16 { background-color: chocolate; }
.color-17 { background-color: coral; }
.color-18 { background-color: cornflowerblue; }
.color-19 { background-color: cornsilk; }
.color-20 { background-color: crimson; }
.color-21 { background-color: cyan; }
.color-22 { background-color: darkblue; }
.color-23 { background-color: darkcyan; }
.color-24 { background-color: darkgoldenrod; }
.color-25 { background-color: darkgray; }
.color-26 { background-color: darkgreen; }
.color-27 { background-color: darkgrey; }
.color-28 { background-color: darkkhaki; }
.color-29 { background-color: darkmagenta; }
.color-30 { background-color: darkolivegreen; }
.color-31 { background-color: darkorange; }
.color-32 { background-color: darkorchid; }
.color-33 { background-color: darkred; }
.color-34 { background-color: darksalmon; }
.color-35 { background-color: darkseagreen; }
.color-36 { background-color: darkslateblue; }
.color-37 { background-color: darkslategray; }
.color-38 { background-color: darkturquoise; }
.color-39 { background-color: darkviolet; }
.color-40 { background-color: deeppink; }
.color-41 { background-color: deepskyblue; }
.color-42 { background-color: dimgray; }
.color-43 { background-color: dodgerblue; }
.color-44 { background-color: firebrick; }
.color-45 { background-color: floralwhite; }
.color-46 { background-color: forestgreen; }
.color-47 { background-color: fuchsia; }
.color-48 { background-color: gainsboro; }
.color-49 { background-color: ghostwhite; }
.color-50 { background-color: gold; }
.color-51 { background-color: goldenrod; }
.color-52 { background-color: gray; }
.color-53 { background-color: green; }
.color-54 { background-color: greenyellow; }
.color-55 { background-color: grey; }
.color-56 { background-color: honeydew; }
.color-57 { background-color: hotpink; }
.color-58 { background-color: indianred; }
.color-59 { background-color: indigo; }
.color-60 { background-color: ivory; }
.color-61 { background-color: khaki; }
.color-62 { background-color: lavender; }
.color-63 { background-color: lavenderblush; }
.color-64 { background-color: lawngreen; }
.color-65 { background-color: lemonchiffon; }
.color-66 { background-color: lightblue; }
.color-67 { background-color: lightcoral; }
.color-68 { background-color: lightcyan; }
.color-69 { background-color: lightgoldenrodyellow; }
.color-70 { background-color: lightgray; }
.color-71 { background-color: lightgreen; }
.color-72 { background-color: lightgrey; }
.color-73 { background-color: lightpink; }
.color-74 { background-color: lightsalmon; }
.color-75 { background-color: lightseagreen; }
.color-76 { background-color: lightskyblue; }
.color-77 { background-color: lightslategray; }
.color-78 { background-color: lightsteelblue; }
.color-79 { background-color: lightyellow; }
.color-80 { background-color: lime; }
.color-81 { background-color: limegreen; }
.color-82 { background-color: linen; }
.color-83 { background-color: magenta; }
.color-84 { background-color: maroon; }
.color-85 { background-color: mediumaquamarine; }
.color-86 { background-color: mediumblue; }
.color-87 { background-color: mediumorchid; }
.color-88 { background-color: mediumpurple; }
.color-89 { background-color: mediumseagreen; }
.color-90 { background-color: mediumslateblue; }
.color-91 { background-color: mediumspringgreen; }
.color-92 { background-color: mediumturquoise; }
.color-93 { background-color: mediumvioletred; }
.color-94 { background-color: midnightblue; }
.color-95 { background-color: mintcream; }
.color-96 { background-color: mistyrose; }
.color-97 { background-color: moccasin; }
.color-98 { background-color: navajowhite; }
.color-99 { background-color: navy; }
.color-100 { background-color: oldlace; }
.color-101 { background-color: olive; }
.color-102 { background-color: olivedrab; }
.color-103 { background-color: orange; }
.color-104 { background-color: orangered; }
.color-105 { background-color: orchid; }
.color-106 { background-color: palegoldenrod; }
.color-107 { background-color: palegreen; }
.color-108 { background-color: paleturquoise; }
.color-109 { background-color: palevioletred; }
.color-110 { background-color: papayawhip; }
.color-111 { background-color: peachpuff; }
.color-112 { background-color: peru; }
.color-113 { background-color: pink; }
.color-114 { background-color: plum; }
.color-115 { background-color: powderblue; }
.color-116 { background-color: purple; }
.color-117 { background-color: rebeccapurple; }
.color-118 { background-color: red; }
.color-119 { background-color: rosybrown; }
.color-120 { background-color: royalblue; }
.color-121 { background-color: saddlebrown; }
.color-122 { background-color: salmon; }
.color-123 { background-color: sandybrown; }
.color-124 { background-color: seagreen; }
.color-125 { background-color: seashell; }
.color-126 { background-color: sienna; }
.color-127 { background-color: silver; }
.color-128 { background-color: skyblue; }
.color-129 { background-color: slategray; }
.color-130 { background-color: snow; }
.color-131 { background-color: springgreen; }
.color-132 { background-color: steelblue; }
.color-133 { background-color: tan; }
.color-134 { background-color: teal; }
.color-135 { background-color: thistle; }
.color-136 { background-color: tomato; }
.color-137 { background-color: turquoise; }
.color-138 { background-color: violet; }
.color-139 { background-color: wheat; }
.color-140 { background-color: white; }
.color-140 { background-color: whitesmoke; }
.color-142 { background-color: yellow; }
.color-143 { background-color: yellowgreen; }